.Comment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Comment-tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 5px solid black;
  top: 0px;
  left: -13px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.Comment-user-time {
  font-size: 14px;
}

.Comment{
  position: relative;
  height: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid black;
  min-height: 30px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  width: 80%;
  text-align: justify;
}