.btn-container {
  padding: 20px 10px;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-around;
}

.sort-btn {
  font-size: 16px;
  border-radius: 3px;
  background-color: #83ffcd;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

.sort-btn:hover {  
  background-color: rgb(255, 155, 161);
}