.btn-container {
  padding: 20px 10px;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-around;
}

.sort-btn {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #83ffcd;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

.sort-btn:hover {  
  background-color: rgb(255, 155, 161);
}

.sort-btn:focus {
  outline: none;
}

.sort-btn:active {
  transform: scale(0.95);
}

.list-container ul {
  display: flex;
  justify-content: center;
}